*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}


input
{
    outline: none;
}

button
{
    outline: none;
}

header{
    background: #c90e0e;
    text-align: center;
    color:#fff;
}

header h1{
    padding: 15px 0 15px 0;
}



.sidebar{
    position: sticky;
    top:10px;
}


@media screen and (max-width: 1200px){
.right_content{
    display: none;
}
}